version: "3"

services:
  database:
    image: mysql:5.6
    ports:
      - 3306:3306
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=soccer
    volumes:
      - ./docker/volumes/database/etc/mysql:/etc/mysql/conf.d
      - ./docker/volumes/database-storage:/var/lib/mysql
  web:
    build: .
    depends_on:
      - database
    command: >
      bash -c "python manage.py migrate
      && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    links:
      - database
